@model IEnumerable<ProjetoFinal.Models.Cliente>

@{
    ViewData["Title"] = "Cliente";
}


<h1>Cadastre um novo cliente</h1>
<p>
    <a asp-action="Create" class="vermelhoclaro">CADASTRAR</a>
</p>
<hr />
<div class="rowtable">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteDataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNumeroCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteTelefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteDataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNumeroCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteBairro)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cidade.CidadeNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteTelefone)
            </td>
              <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table>
</div>