@model IEnumerable<ProjetoFinal.Models.SaidaProduto>

@{
    ViewData["Title"] = "Index";
}


<h1>Cadastre uma nova saída de produto</h1>
<p>
    <a asp-action="Create" class="vermelhoclaro">CADASTRAR</a>
</p>
<hr />
<div class="rowtable">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaProdutoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaProdutoQuantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaidaProdutoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaidaProdutoQuantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSaida.TipodeSaida)
            </td>
              <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
        </tr>
}
    </tbody>
</table>
</div>
